*{
  box-sizing: border-box;
}

:root{
  --mid-blue : #3D5A80;
  --light-blue: #98C1D9;
  --sky-blue: #E0FBFC;
  --orange-shade: #EE6C4D;
  --dark-blue: #293241;
}
body{
  /* width: 100vw; */
  overflow-x: hidden;
}

#blog-main{
  background: linear-gradient(135deg, #122038,#103e53);
  width: 100%;
}

.blog-jumbotron{
  background: url('../images/danielle-macinnes-IuLgi9PWETU-unsplash.jpg') no-repeat center center/cover;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  border-bottom: 10px solid #e9390d;
}
.blog-jumbotron::before{
  content: '';
  position : absolute;
  top : 0 ;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--orange-shade);
  opacity: .5;
  z-index: -1;
}

.blog-head{
  background: #293241bb;
  color: var(--sky-blue);
  padding: 1rem;
  border: 3px solid var(--sky-blue);
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.425);
}

.blog-head h1{
  font-size: 2rem;
}

article {
  margin: 20px;
}

.post-list {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.post-preview {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 850px) {
  .post-preview {
    width: 400px;
    margin: 10px;
  }
}

.post-thumbnail {
  width: 100%;
  height: 100%;
  background: black;
  clip-path: circle(180px at center 0);
  text-align: center;
}

.post-thumbnail h2{
  color: #fff;
  font-size: 4rem;
  padding: 1rem ;
  padding-top: 2rem;
  margin: 0;
}
.post-content {
  padding: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
}

a:active{
  transform: scale(0.98);
}

article {
  margin: 20px;
  /* padding: 0.3em; */
  border: 2px solid var(--light-blue);
  box-shadow: 0px 4px 10px 5px #00000073;
  border-radius: 20px;
  background:linear-gradient(45deg,red,blue);
  color: #fff;
  width: 40ch;
  height: 50vh;
  position: relative;
  overflow: hidden;
  transition: all .1s ease-in;
}

/* cool hover effect on the blog cards */
.post-list:hover article{
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}
.post-list article:hover{
  filter: blur(0);
  transform: scale(1.1);
  opacity: 1;
}

.main-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(58, 57, 57);
  border-top: 2px solid black;
  /* height: 5vh; */
  margin: 0;
}

/* responsive styling for the blog page */
@media ( max-width: 900px){
  .blog-head{
    width: 80%;
  }
}

/* width responsiveness */

@media(max-width: 1100px){
  article{
    height: 40vh;
  }
}

@media(max-width: 650px){
  article{
    height: 70vh;
  }
}

@media(max-width: 450px){
  article{
    width: 30ch;
    height: 60vh;
  }
  .blog-head{
    font-size: .9rem;
    width: 80%;
  }
}
