:root{
  --black-shade: #231f20;
  --light-shade: #ad974f;
  --blue-shade: rgb(55, 122, 221);
}

*{
  box-sizing: border-box;
}

body {
  background: var(--black-shade);
  height: 100vh;
  color: var(--light-shade);
  overflow-y: hidden;
}

a {
  color: #ad974f;
}

.login {
  width: 60%;
  background: rgba(0, 0, 0, 0.815);
  box-shadow: 0 2px 20px 7px rgba(0, 0, 0, 0.37),
              0 2px 10px rgba(243, 243, 243, 0.719) inset;
  padding: 1rem;
  border-radius: 20px;
  z-index: 100;
}

#token {
  display: none;
}

.container{
  height: 100%;
  width: 100%;
}

.containerform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  position: relative;
}

/* icons for username and password */
.icons{
  height: 23px;
  width: 23px;
  position: absolute;
}

.user-icon{
  top: 41.5%;
  left: 7px;
}

.password-icon{
  top: 56.5%;
  left: 7px;
}

/* login image */
.imgcontainer {
  align-self: center;
}

.imgcontainer img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 2px 7px black;
}

/* username and password */
.containerform input:not([type="checkbox"])
,.forgot-email {
  height: 3rem;
  margin: 8px 0;
  width: 100%;
  font-size: .9rem;
  padding: 12px 20px;
  padding-left: 45px;
  border: none;
  border-radius: 5px;
}

.login label{
  color: var(--blue-shade);
}

/* login button */
.containerform button,
#submitforgot {
  height: 3rem;
  background: var(--blue-shade);
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
  width: 100%;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  
  transition: all .2s ease-in;
}

.loginBtn:hover,
#submitforgot:hover{
  /* background: #ad974f63; */
  background: rgba(55, 121, 221, 0.616);
}

/* remember me section */

#rememberme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  color: var(--blue-shade);
}
#rememberme input {
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: .9rem;
}

.containerform div {
  margin: 0.5rem 0rem;
}

/* forgot password section */

.forgot-section{
  width: 100%;
  margin: 0.5rem auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#forgot a{
  color: var(--blue-shade);
  cursor: pointer;
  transition: all .2s ease-in;
}

#forgot a:hover{
  color: rgb(224, 101, 101);
}

/* forgot form */
#forgotform{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(206, 203, 203);
  padding: 1rem;
  border-radius: 10px;
  z-index: 100;
  animation: modal 1s;
}

@keyframes modal{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* forgot form background(black) */
.forgotform-background{
  position: absolute;
  top: 10;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.788);
  z-index: 50;
}

.mail-image{
  position: relative;
}

.user-mail{
  position: absolute;
  color: white;
  top: 20px;
  left:10px;
  z-index: 10;
}


/* responsive x-button in forgot-email */
.x-mark{
  position: absolute;
  top: 0;
  right:0;
  cursor: pointer;
}

.x-mark-2{
  position: relative;
  width: 100%;
  height: 100%;
}

.user-x{
  position: absolute;
  top: 0;
  right: 3%;
}


main {
  padding-bottom: 1rem;
  /* height: 100%; */
}

#main-nav__items {
  display: none;
}

#invite2 {
}

/*
#theform{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
}

label{
    display: block;
}

#theform input:not([type="checkbox"]){
    width: 100%;
    height: 3rem;
    border: 1px solid #eee;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type="checkbox"]{
    transform: scale(3);
} 
*/

.loginBtn {
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.main-header button,
.main-header a {
  /* display: none; */
}

.jumbotron {
  margin-top: 6rem;
  display: none;
}

.form-style-8 {
  font-family: "Open Sans Condensed", arial, sans;
  width: 95%;
  padding: 30px;
  background: #4d4d4d;
  margin: 50px auto;
  color: #b9b9b9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 1%;
}

.form-style-8 h2 {
  background: #4d4d4d;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color: #b9b9b9;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #b9b9b9;
}
::placeholder {
  color: #b9b9b9;
}
.form-style-8 textarea {
  resize: none;
  overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  background-color: #34caca;
}

#invite2 {
  display: none;
}

#goback {
  position: absolute;
  margin-top: 4rem;
}

/* this is the alert box for user invite success */
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06d85f;
}

/* .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; 
}

.overlay:target {
  visibility: visible;
  opacity: 1;
} */

.visible {
  display: none;
}

#popup1{
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 90%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* Forgot Form */
#forgotform {
  /* display: none; */
}

/* media queries */

@media(max-width: 1200px){
  .login{
    width: 70%;
  }
}
@media(max-width: 1000px){
  .login{
    width: 75%;
  }
  #forgotform{
    width: 74%;
  }
  #popup1{
    width: 70%;
  }
}
