/* @media only screen and (max-width: 480px){
    :root{
        --margen: 0 10px;
    }
    .contenedor_comentario{
        padding: var(--margen);
    }
    .contenedor_imagenPerfil img{
        height: 60px;
        width: 60px;
    }
    .perfil{
        width: calc(100% - 60px);
    }
    .estrellas{
        margin-bottom: 2px;
    }
    .estrellas span{
       margin-right: 3px;
       width: 25px;
       height: 25px;
       font-size: 1rem;
    }
    .nota p{
        font-size: 0.7rem;
        margin-left: 10px;
        word-wrap: none;
    }
    .contenedor_comentarios{
        margin: var(--margen);
    }
    .likes div{
        margin-right: 10px;
        font-size: 0.8rem;
    }
    .likes div img{
        height: 20px;
        width: 20px;
        margin-right: 3px;
    }
    .comentarios_boton{
        font-size: 0.8rem;
    }
    .subcomentario .contenedor_imagenPerfil img{
        width: 40px;
        height: 40px;
    } 
    .subcomentario .nombre_perfil{
        font-size: 1rem;
    }
} */

@media(max-width: 1100px){
    .contenedor_formulario{  
      min-width: 700px; 
    }
    .contenedor_comentarios{
        min-width: 700px;
    }
  }
  
  @media (max-width: 800px){
    .contenedor_formulario{
        min-width: 400px;  
      }
    .contenedor_comentarios{
        min-width: 400px;
    }
    .polls-heading{
        width: 80%;
    }
    .tarjeta_comentario{
        width: 100%;
        height: 30%;
    }
    .contenedor_imagenPerfil img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    .perfil{
        width: calc( 100% - 100px );
        padding-left: 50px;
    }
    .estrellas span{
        width: 20px;
        height: 20px;
        font-size: 1rem;
    }
    .nombre_perfil{
        font-size: 1rem;
        font-weight: bold;
    }
    .texto_comentario{
        margin-bottom: 20px;
        font-size: .9rem;
    }
    .footer_comentario{
        width: 50%;
    }
    .likes div img{
        height: 15px;
        width: 15px;
    }

    .likes div img{
        font-size: .5rem;
    }
  }

@media (max-width: 450px){
    .foro_post{
        width: 80vw;
    }
    .container-1{
        width: 60vw;
    }
    .contenedor_formulario{
        max-width: 300px;
        padding: .5rem .5rem;
        margin: 2rem 10rem;
    }

    #thequestion{
        font-size: .8rem;
    }
    #theanswers{
        font-size: .8rem;
    }

    .contenedor_comentarios{
        max-width: 300px;
        padding: .5rem 1rem;
        margin-left: 1rem;
    }
}
  