@font-face{
	font-family: Montserrat;
	src: url(../assets/Montserrat-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
:root{
    --border: 5px;
    --margen: 0 20px;
    --container-shade: rgb(129, 129, 129);
    --botonColor: #FF5C00;
    --estrellasColor: #E9F93B;
}
body{
    background-color: rgb(148, 148, 148);
    color: white;
    min-width: 100vh;
    overflow-x: hidden;
}
/* .foro_post{
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 1.5rem 100px;
    border-radius: var(--border);
} */
/*----------------------------SEPARADOR------------------------------------------*/
.header_forum{
    font-size: 1.6rem;
    margin: 35px 0;
    margin-left: 20px;
}

/*-----------------------------FORMULARIO-----------------------------------------*/

.container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.contenedor_formulario{
    /* width: 100%; */
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.384);
    min-width: 1100px;
    margin: 2rem auto;
    background:var(--container-shade);
    padding: 1rem 2rem;
    text-align: center;
    margin-bottom : 0;
}

/* .contenedor_comentario{
    width: 100%;
    padding: var(--margen);
} */
.comentario{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    padding: 5px;
    background-color: #C4C4C4;
    outline: none;
    resize: none;
    border-radius: var(--border);
}
.comentario::placeholder{
    color: rgb(26, 26, 26);
}
/* .contenedor_botonPost{
    display: flex;
    justify-content: flex-end;
    margin: var(--margen);
    margin-top: 5px;
} */
.boton_post,
.comentarios_reply span{
    background-color: var(--botonColor);
    border: 0;
    padding: 5px 20px;
    color: white;
    border-radius: var(--border);
    cursor: pointer;
}
.comentarios_reply span{
    padding: 2px 10px;
    font-size: 0.7rem;
}

.boton_post{
    width: 50%;
    margin: .5rem auto;
    height: 50px;
    background: rgb(6, 48, 139);
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .2s ease-in;
    z-index: 2;
    position: relative;
}
/* .boton_post:hover{
    
} */

.boton_post::before{
    content: '';
    position : absolute;
    height: 100%;
    width : 0;
    background: rgba(20, 82, 216, 0.479);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all .2s ease-in;
}

.boton_post:hover::before{
    width: 100%;
}

.view-comments{
    width: 50%;
    margin: .5rem auto;
    height: 50px;
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    border: none;
    color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    font-weight: bold;
}
.view-comments::before{
    content: '';
    position : absolute;
    height: 100%;
    width : 0;
    background: rgb(255, 255, 255);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all .3s ease-in;
}


.view-comments:hover::before{
    width: 100%;
}
.view-comments:hover{
    color: #333;
}


/*--------------------------------TARJETAS COMENTARIOS--------------------------------------*/
.contenedor_comentarios{
    min-width: 1100px;
    margin: 0 auto;
    margin-top: .5rem;
    background: var(--container-shade);
    color: black;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.384);
    padding: 1rem 2rem;
    transition: all .3s ease-in;
}

/* class for toggling comments */

.container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.contenedor_comentarios.fade{
    display: none;
}

.tarjeta_comentario{
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    background-image: linear-gradient(135deg, #e3e4e6 0%, #abb7ca 100%);
    border-radius: var(--border);
}
.header_comentario{
    display: flex;
    margin-bottom: 10px;
}
.contenedor_imagenPerfil img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.perfil{
    width: calc(100% - 100px);
    padding-left: 20px;
}
.estrellas{
    display: flex;
    margin-bottom: 2px;
}
.estrellas span{
   background: rgb(90, 89, 89);
   color: var(--estrellasColor);
   margin-right: 10px;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.7rem;
   border-radius: var(--border);
   padding-bottom: 5px;
}
.nota{
    margin-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    color: rgb(77, 77, 77);
}
.nombre_perfil{
    font-size: 1.3rem;
    font-weight: bold;
}
.texto_comentario{
    margin-bottom: 20px;
    font-size: 0.9rem;
}
.footer_comentario{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5px;
    width: 50%;
}
.likes{
    display: flex;
    flex: 1 1;
}
.likes div{
    margin-right: 15px;
    font-size: .5rem;
    display: flex;
    align-items: center;
}
.likes div img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.likes div span{
    margin-top: 2px;
    font-size: 0.8rem;
}
.like,
.dislike{
    transform: scaleX(1);
    cursor: pointer;
}

.like{
    transform: rotateX(180deg) scaleX(-1);
}
.like:hover{
    transform: rotate(180deg) scale(1.1);
}
.dislike:hover{
    transform: scale(1.1);
}
.comentarios_boton,
.comentarios_reply{
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}
.comentarios_boton{
    cursor: pointer;  
    color: rgb(0, 0, 0);
}
/*---------------------------------SUB COMENTARIOS-------------------------------------*/
.tarjeta_subcomentario{
    padding: 20px;
}
.subcomentario{
    background-color: #D9D9D9;
    border-radius: var(--border);
    margin: 10px 10px 0 10px;
}
.footer_subComentario .comentarios_boton{
    font-size: 0.9rem;
}
.subcomentario .contenedor_imagenPerfil img{
    width: 60px;
    height: 60px;
} 
.subcomentario .nombre_perfil{
    font-weight: bold;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.subcomentario .texto_comentario{
    font-size: 0.9rem;
}
